# 1. 완주하지 못한 선수

### 문제 설명
수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.

마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.

### 제한사항
 - 마라톤 경기에 참여한 선수의 수는 1명 이상 100,000명 이하입니다.
 - completion의 길이는 participant의 길이보다 1 작습니다.
 - 참가자의 이름은 1개 이상 20개 이하의 알파벳 소문자로 이루어져 있습니다.
 - 참가자 중에는 동명이인이 있을 수 있습니다.

# My solution

In [1]:
def solution(participant, completion):
    answer = ''
    for c in completion:
        participant.remove(c)
    answer = participant[0]
    return answer

In [2]:
participant = ["leo", "kiki", "eden"]
completion = ["eden", "kiki"]
solution(participant, completion)

'leo'

In [3]:
participant = ["marina", "josipa", "nikola", "vinko", "filipa"]
completion = ["josipa", "filipa", "marina", "nikola"]
solution(participant, completion)

'vinko'

In [4]:
participant = ["mislav", "stanko", "mislav", "ana"]
completion = ["stanko", "ana", "mislav"]
solution(participant, completion)

'mislav'

# Others

In [5]:
import collections

def solution(participant, completion):
    answer = collections.Counter(participant) - collections.Counter(completion)
    return list(answer.keys())[0]

In [19]:
def solution(participant, completion):
    answer = ''
    temp = 0
    dic = {}
    for part in participant:
        dic[hash(part)] = part
        temp += int(hash(part))
    for com in completion:
        temp -= hash(com)
    answer = dic[temp]

    return answer

In [20]:
participant = ["leo", "kiki", "eden"]
completion = ["eden", "kiki"]
solution(participant, completion)

'leo'

In [11]:
participant = ["marina", "josipa", "nikola", "vinko", "filipa"]
completion = ["josipa", "filipa", "marina", "nikola"]
solution(participant, completion)

'vinko'

In [12]:
participant = ["mislav", "stanko", "mislav", "ana"]
completion = ["stanko", "ana", "mislav"]
solution(participant, completion)

'mislav'

# 2. 전화번호 목록

### 문제 설명
전화번호부에 적힌 전화번호 중, 한 번호가 다른 번호의 접두어인 경우가 있는지 확인하려 합니다.
전화번호가 다음과 같을 경우, 구조대 전화번호는 영석이의 전화번호의 접두사입니다.

 - 구조대 : 119
 - 박준영 : 97 674 223
 - 지영석 : 11 9552 4421

전화번호부에 적힌 전화번호를 담은 배열 phone_book 이 solution 함수의 매개변수로 주어질 때, 어떤 번호가 다른 번호의 접두어인 경우가 있으면 false를 그렇지 않으면 true를 return 하도록 solution 함수를 작성해주세요.

### 제한 사항
 - phone_book의 길이는 1 이상 1,000,000 이하입니다.
     - 각 전화번호의 길이는 1 이상 20 이하입니다.
     - 같은 전화번호가 중복해서 들어있지 않습니다.

In [48]:
def solution(phone_book):
    answer = True
    dic = {}
    for pNumber in phone_book:
        dic[pNumber] = 1 
    for pNumber in phone_book:
        temp=""
        for num in pNumber:
            temp +=num
            print(temp)
            if temp in dic and temp!=pNumber:
                answer = False
    print(dic)
    return answer

In [44]:
def solution(phoneBook):
    phoneBook = sorted(phoneBook)
    for p1, p2 in zip(phoneBook, phoneBook[1:]):
        if p2.startswith(p1):
            return False
    return True

In [49]:
phone_book = ["119", "97674223", "1195524421"]
solution(phone_book)

1
11
119
9
97
976
9767
97674
976742
9767422
97674223
1
11
119
1195
11955
119552
1195524
11955244
119552442
1195524421
{'119': 1, '97674223': 1, '1195524421': 1}

False

In [46]:
phone_book = ["123", "456", "789"]
solution(phone_book)

456
789

True

In [47]:
phone_book = ["12", "123", "1235", "567", "88"]
solution(phone_book)

123

False